/* Login */

.main-login {
  width: 100%;
  padding: 20px;
  margin: auto;
}

.container {
  width: 100%;
  margin: 0;
  display: flex;
  padding: 40px;
  max-width: 500px;
  margin: auto;
}

.form-content {
  width: 100%;
  padding: 80px 80px;
  background: white;
  border-radius: 20px;
  height: 440px;
}

.form-content form h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #18b7BE;
}

.form-content form input{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}


.form-content form button{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.form-content a {
  text-decoration: none;
  color: #072A40;
}

/*End Login*/

/*Atr*/

.text-container {
  width: 100%;
}

.title-container {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: space-around;
  color: #072A40;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-stock {
  width: 50%;
}

.title-sales {
  width: 50%;
}

.atr-container {
  display: flex;
}

.atr-stock-container {
  display: flex;
  width: 50%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.atr-sales-container {
  display: flex;
  width: 50%;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.atr-1 {
  width: 33%;
  text-align: center;
}

.atr-2 {
  width: 33%;
  text-align: center;
}

.atr-3 {
  width: 33%;
  text-align: center;
}



/*End Atr*/


/*Data Tienda*/

.data-container {
  display: flex;
  padding: 20px;
}

/*Item Stock Producto*/

.data-stock-container {
  width: 50%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding-right: 20px;
}

.stock-item {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: space-around;
  margin: 10px;
  background-color: white;
  color: grey;
  border-radius: 4px;
  font-size: 20px;
}

/*Item Sales*/

.data-sales-container {
  width: 50%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding-right: 20px;
}

.sales-item {
  display: flex;
  width: 100%;
  text-align: center;
  align-content: space-around;
  margin: 10px;
  background-color: white;
  color: grey;
  border-radius: 4px;
  font-size: 20px;
}

.item-1 {
  width: 33%;
}

.item-2 {
  width: 33%;

}
.item-3 {
  width: 33%;
}

